<!doctype/>
<html>

<head>
    <meta name="viewport" content="width=1100, user-scalable=no">
    <title>bao game</title>
    <link rel="stylesheet" href="./<%= indexCss %>" />
</head>

<body>
    <div class="frame">
        <div class="middle" id="middle">
            <canvas id="bg" width="w" height="h"></canvas>
            <canvas id="fg" width="w" height="h"></canvas>
        </div>
    </div>
    <div id="container"></div>
    <script src="scripts/<%= scriptsIndexBundleJs %>"></script>
</body>

</html>