<!doctype/>
<html>

<head>
    <meta name="viewport" content="width=1100, user-scalable=no">
    <title>暴走大乱斗</title>
    <link rel="stylesheet" href="./index.css" />
</head>

<body>
    <div class="frame">
        <div class="middle" id="middle">
            <canvas id="Bg"></canvas>
            <canvas id="Fg"></canvas>
        </div>
    </div>
    <div id="container">
        <div v-if="showDialog" class="joining">
            <div class="center">
                <h4 class="message">{{showFail ? "你挂了" : "加入游戏"}}</h4>
                你的名字：<input class="txt-input" v-model="userName" @keydown="stopPropagation($event)" @keyup="stopPropagation($event)" />
                <div>
                    <a href="javascript:void(0)" class="btn joinBtn" @click="join()">按e加入</a>
                    <a href="javascript:void(0)" class="btn btn-weak dismissBtn" @click="close()">观战</a>
                </div>
            </div>
        </div>
        <div v-if="showMobileControl" class="mobileController">
            <div class="left">
                <div data-act="l" class="moreBtn l" @touchstart="touchstart($event)" @touchend="touchend($event)">左</div>
                <div data-act="r" class="moreBtn r" @touchstart="touchstart($event)" @touchend="touchend($event)">右</div>
            </div>
            <div class="right">
                <div data-act="a" class="moreBtn item" @touchstart="touchstart($event)" @touchend="touchend($event)">act</div>
                <div data-act="u" class="moreBtn up" @touchstart="touchstart($event)" @touchend="touchend($event)">上</div>
                <div data-act="d" class="moreBtn down" @touchstart="touchstart($event)" @touchend="touchend($event)">下</div>
            </div>
        </div>
        <div class="notice">
            <div class="noticeFix">
                <div class="noticeItem">W,A,S,D:移动 Q:使用物品</div>
            </div>
        </div>
    </div>
    <script src="scripts/<%= staticScriptsIndexJs %>"></script>
</body>

</html>